<launch>
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
    <param name="resolution" value="0.10" />
    <param name="frame_id" type="string" value="map" />
    <param name="filter_ground" type="bool" value="false" />
    <!-- Temporarily disable or lower the min_z filter -->
    <param name="pointcloud_min_z" value="-100.0" />
    <!-- <param name="pointcloud_min_z" value="0.15" /> -->
  </node>
</launch>