<launch>
  <group ns="chin">
	<arg name="marker_size" default="5.0" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />
        
	<arg name="cam_image_topic" default="/chin_camera/image" />
	<arg name="cam_info_topic" default="/chin_camera/camera_info" />
        
	<arg name="output_frame" default="/chin_camera" />
	<arg name="bundle_files" default="/home/lemon/robot_ros_application/catkin_ws/src/leju_test_nodes/scripts/walking_path_test/launch/MultiMarkerMap.xml" />

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="findMarkerBundlesNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame) $(arg bundle_files)" >
		<param name="marker_size"           type="double" value="$(arg marker_size)" />
		<param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
		<param name="max_track_error"       type="double" value="$(arg max_track_error)" />
		<param name="output_frame"          type="string" value="$(arg output_frame)" />

		<remap from="camera_image"  to="$(arg cam_image_topic)" />
		<remap from="camera_info"   to="$(arg cam_info_topic)" />
		<remap from="visualization_marker"   to="visualization_marker_chin" />
	</node>
  </group>
</launch>
